.search__input{
  width: 100%;
  text-align: start;
  padding-left: 24px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 100px;
  backdrop-filter: blur(8px);
  border: unset;
  outline:none;
}

.search__input::placeholder{
  color: #B6BCBF;
}