.button{
  border-radius: 100px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  outline:none;
  cursor: pointer;
  color: inherit;
  border-color: unset
}
