.result__news-tooltip{
  display: none;
  width: 180px;
  padding: 14px 0;
  position: absolute;
  right: 45px;
  background-color: #fff;
  text-align: center;
  color: #1A1B22;
  border-radius: 8px;
  z-index: 2;
}