.result__button-more{
  width: 288px;
  height: 64px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  color: #1A1B22;
}

.result__button-more:hover{
  box-shadow: inset 140px 140px  rgba(0,0,0,0.06);
}
