@import url(../../fonts/fonts.css);
@import url(../../blocks/roboto-slab/roboto-slab.css);
@import url(../../blocks/roboto/roboto.css);
@import url(../../blocks/source-sans-pro/source-sans-pro.css);
@import url(../../blocks/button/button.css);
@import url(../../blocks/header/header.css);
@import url(../../blocks/info/info.css);
@import URL(../../blocks/result/result.css);
@import url(../../blocks/footer/footer.css);

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}