.result__news{
  max-width: 396px;
  width: 100%;
  height: 576px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

.result__news:hover .result__news-img{
  transform: scale(1.1);
  cursor: pointer;
}
