.result__news-title{
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  color: #1A1B22;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.result__news-title:hover{
  opacity: .7;
}
