.result__keywords{
  padding: 8px 12px;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  top: 24px;
  left: 24px;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}