.popup__input{
  padding: 8px 0;
  margin-bottom: 4px;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(26, 27, 34, 0.2);
  color: #1A1B22;
  outline: none;
}

.popup__input::placeholder{
  opacity: 0.2;
}

.popup__input:focus{
  border-bottom: 1px solid #2a65cc;
}

.popup__input[name="name"]{
  text-transform: capitalize
}


