.result__news-selected{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  background-image: url(../../../images/favorites.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, .4);
}

.result__news-selected:hover{
  cursor: pointer;
}

.result__news-selected:hover {
  box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0);
}

.result__news-selected:hover .result__news-tooltip{
  display: block;
}
