@import url(./_position/header_position.css);
@import url(./__container/header__container.css);
@import url(./__logo/header__logo.css);
@import url(./__navigation/header__navigation.css);
@import url(./__links-container/header__links-container.css);
@import url(./__link/header__link.css);
@import url(./__link/_selected/header__link_selected.css);
@import url(./__link/_unvisible/header__link_unvisible.css);
@import url(./__button/header__button.css);
@import url(./__button/_unvisible/header__button_unvisible.css);
@import url(./__icon/header__icon.css);
@import url(./__mobile-menu/header__mobile-menu.css);
@import url(./__label/header__label.css);
@import url(./__bar/header__bar.css);
@import url(./__bar/_bg-color/_white/header__bar_bg-color_white.css);
@import url(./__bar/_bg-color/_black/header__bar_bg-color_black.css);
@import url(./__line/header__line.css);

.header{
  width: 100%;
}

@media (max-width: 1024px){
  .header__container{
    max-width: 944px;
    height: 66px;
  }

  .header__link_selected{
    padding-bottom: 16px;
  }
}

@media (max-width: 768px){
  .header__container{
    max-width: 688px;
  }

  .header__link{
    font-size: 16px;
  }

  .header__button{
    font-size: 16px;
  }
}

@media (max-width: 414px){
  .header__container{
    max-width: 382px;
    height: 56px;
  }

  .header__logo{
    font-size: 16px;
    line-height: 24px;
  }

  .header__navigation{
    display: flex;
    width: 100%;
    height: fit-content;
    padding-top: 72px;
    padding-bottom: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 101;
    flex-direction: column;
  }

  .header__navigation_bg-color_white{
    background-color: #fff;
  }

  .header__navigation_bg-color_black{
    background: #1A1B22;
  }

  .header__links-container{
    max-width: 288px;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .header__link{
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .header__label{
    display: block;
  }

  .header__link_selected{
    padding-bottom: unset;
    align-self: unset;
    border-bottom: unset;
  }

  .header__button{
    width: 288px;
    justify-content: center;
  }
}

@media (max-width: 375px){
  .header__container{
    max-width: 336px;
  }
}

@media (max-width: 320px){
  .header__container{
    max-width: 288px;
  }
}
